.header{
  position: relative;
  padding: 20px;
}

.header__logo{
  display: block;
  max-width: 4vw;
  z-index: 10;
  @include respond(768){
    max-width: 7vw;
  }
  @include respond(570){
    max-width: 9vw;
  }
  img{
    width: 100%;
  }
}

.hamburger{
  margin-left: auto;
  margin-top: 15px;
  top: 42px;
  right: 15px;
  z-index: 10;
  @include transition(0.3s all ease-in-out);

  @include respond(768){
    top: 37px;
  }

  @include respond(570){
    top: 21px;
  }

  &.is-active{
    @include animation(smallbig, 0.6, 0);
    z-index: 51;
    .line{
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s;
      &:nth-child(1) {
        -webkit-transform: translateY(11px) rotate(45deg);
        -ms-transform: translateY(11px) rotate(45deg);
        -o-transform: translateY(11px) rotate(45deg);
        transform: translateY(11px) rotate(45deg);
      }
      &:nth-child(2){
        opacity: 0;
      }
      &:nth-child(3){
        -webkit-transform: translateY(-7px) rotate(-45deg);
        -ms-transform: translateY(-7px) rotate(-45deg);
        -o-transform: translateY(-7px) rotate(-45deg);
        transform: translateY(-7px) rotate(-45deg);
      }
    }
  }

  &:hover{
    cursor: pointer;
  }

  .line{
    width: 35px;
    height: 1px;
    background-color: $textColor;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

@-webkit-keyframes smallbig{
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
@keyframes smallbig{
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}
